<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let _user of users" button (click)="openChat(_user)">
      <ion-avatar slot="start">
        <img [src]="_user.avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{_user.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>