<ion-content>
  <ion-item class="ion-margin-top round">
    <ion-label>Filter Users</ion-label>
    <ion-select [(ngModel)]="filter" placeholder="Select One" (ionChange)="filterUsers()">
      <ion-select-option value="player">Player</ion-select-option>
      <ion-select-option value="master">Master</ion-select-option>
      <ion-select-option value="both">Both</ion-select-option>
    </ion-select>
  </ion-item>
  <div #map style='height: 100%'></div>
</ion-content>