<ion-text *ngIf="control?.touched && control?.errors" color="danger">
  <p *ngIf="control.errors.required">{{controlName}} is required</p>
  <p *ngIf="control.errors.email">Enter a valid email</p>
  <p *ngIf="control.errors.minlength">{{controlName}} should be at least {{control.errors.minlength.requiredLength}}
    characters long</p>
</ion-text>
<ion-text *ngIf="error" color="danger">
  <p>{{error}}</p>
</ion-text>