<ion-content class="ion-padding custom-background-color">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <app-profile-avatar [avatar]="user.avatar"></app-profile-avatar>

        <h1 class="ion-text-center ion-text-capitalize">{{user.name}}</h1>

        <ion-list class="ion-padding">
          <ion-item class="ion-text-center" lines="none">
            <ion-label color="light" class="ion-text-capitalize user-type">User Type - {{user.user_type}}</ion-label>
          </ion-item>

          <ion-item-group>
            <ion-item-divider>
              <ion-label color="light">Game Systems</ion-label>
            </ion-item-divider>

            <ion-item color="medium" *ngFor="let gameSystem of userRpgSystems" lines="full">
              <ion-label color="dark" class="ion-text-center">{{gameSystem.name}}</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>