<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chat">
      <ion-icon color="light" size="large" name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon color="light" size="large" name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon color="light" size="large" name="settings-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>