<ion-content class="ion-padding custom-background-color">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form [formGroup]="form" (ngSubmit)="signUp()" class="ion-text-center">
          <app-profile-avatar [avatar]="form.get('avatar').value"></app-profile-avatar>

          <ion-item class="ion-margin-top round">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <app-form-error-message [control]="form.get('name')" [controlName]="'Name'"></app-form-error-message>


          <ion-item class="ion-margin-top round">
            <ion-label position="floating">Phone</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <app-form-error-message [control]="form.get('phone')" [controlName]="'Phone'"></app-form-error-message>


          <ion-item class="ion-margin-top round">
            <ion-label>User Type</ion-label>
            <ion-select placeholder="Select One" formControlName="user_type">
              <ion-select-option value="player">Player</ion-select-option>
              <ion-select-option value="master">Master</ion-select-option>
              <ion-select-option value="both">Both</ion-select-option>
            </ion-select>
          </ion-item>
          <app-form-error-message [control]="form.get('user_type')" [controlName]="'User Type'"></app-form-error-message>

          <ion-item class="ion-margin-top round">
            <ion-label>Game System</ion-label>
            <ion-select multiple="true" placeholder="Select One" formControlName="rpg_systems">
              <ion-select-option *ngFor="let rpgSystem of rpgSystems" [value]="rpgSystem.value">{{rpgSystem.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <app-form-error-message [control]="form.get('rpg_systems')" [controlName]="'Game System'"></app-form-error-message>

          <ion-item class="ion-margin-top round">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-form-error-message [control]="form.get('email')" [controlName]="'Email'"></app-form-error-message>
          <app-form-error-message *ngIf="emailInvalid" [error]="'Email adress is already in use'"></app-form-error-message>

          <ion-item class="ion-margin-top round">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <app-form-error-message [control]="form.get('password')" [controlName]="'Password'"></app-form-error-message>

          <ion-text *ngIf="error" color="danger">
            <p>Try again</p>
          </ion-text>
          
          <div class="ion-margin-top">
            <ion-button [disabled]="submitted && form.invalid" type="submit" color="custom-orange">Sign Up</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>