<ion-content class="ion-padding custom-background-color">
  <ion-toolbar class="chat-title">
    <ion-title class="ion-text-center">{{userChat.name}}</ion-title>
  </ion-toolbar>
  <div class="chat-content">

    <ion-row *ngFor="let message of messages" [ngClass]="{
      'chat-rigth': message.sender !== user.id,
      'chat-left': message.sender === user.id}">
      <ion-col>
        <ion-card [ngClass]="{
          'ion-float-left': message.sender !== user.id,
          'ion-float-right': message.sender === user.id}">
          <ion-card-content>
            {{message.message}}
          </ion-card-content>
          <div class="chat-date">{{message.date.toDate() | date: 'shortTime'}}</div>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>

  <ion-row class="input-message">
    <ion-input [(ngModel)]="message" placeholder="Your Message"></ion-input>
    <ion-button (click)="sendMessage()">Send</ion-button>
  </ion-row>
</ion-content>