.input-message{
    background-color: white;
    color: black;
    width: 100%;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
}

.chat-left{        
    ion-card{ 
        background-color: #2d68d4;

        ion-card-content {
            color: white;
        }

        .chat-date {
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            float: left;
            background-color: #2d68d4;
            font-size: .8rem;
        }
    }
}

.chat-rigth{
    .chat-date {
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: .8rem;
        float: right;
    }
}

.chat-title{
    --background: #702800;
    color: white;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    border-color: white;    
}

.chat-content{
    margin-top: 48px;
    margin-bottom: 28px;
}