.avatar-box {
    margin: auto;
    width: 115px;
    height: 115px;
    
    ion-img {
        background-color: black;
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}