.avatar {
    margin: auto;
}

h1 {
    margin-top: .2rem;
}

.user-type {
    font-size: 1.3rem;
}

ion-toolbar {
    --background: #AE925B;
}

ion-list {
    margin-top: 30px;
    --ion-background-color: #94683F;
    border-radius: 5px;
}

ion-item-group {
    ion-item-divider {
        --ion-background-color: #C08651;
        ion-label {
            font-size: 1.2rem;
            width: 100%;
            text-align: center;
        }
    }
}

.contact {
    margin-top: 2rem;
}