<ion-content class="ion-padding custom-background-color">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form [formGroup]="form" (ngSubmit)="signIn()" class="ion-text-center">
          <div>
            <img class="logo" src="assets/img/rpg_dice_logo.png">
          </div>

          <div>
            <h1>Dungeon <span>Match</span></h1>
          </div>

          <ion-item class="ion-margin-top round">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-form-error-message [control]="form.get('email')" [controlName]="'Email'"></app-form-error-message>

          <ion-item class="ion-margin-top round">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <app-form-error-message [control]="form.get('password')" [controlName]="'Password'"></app-form-error-message>
          
          <ion-text color="danger" *ngIf="invalidUser || error">
            <p *ngIf="invalidUser">Invalid email or password</p>
            <p *ngIf="error">Try again</p>
          </ion-text>

          <div class="ion-margin-top">
            <ion-button [disabled]="submitted && form.invalid" color="custom-brown" type="submit">Sign In</ion-button>
          </div>

          <div class="ion-margin-top">
            <ion-button [routerLink]="['/register']" color="custom-orange">Sign Up</ion-button>
          </div>

          <div class="ion-padding-top">
            <p>Forgot password?</p>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>